$vk: "assets/images/auth/vk.png";
$twitter: "assets/images/auth/twitter.png";

.vk {
  background-image: assetus-url($vk);
  background-size: assetus-size($vk);
  width: assetus-width($vk);
  height: assetus-height($vk);
}
.twitter {
  background-image: assetus-inline($twitter);
  width: assetus-width($twitter);
  height: assetus-height($twitter);
}